@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Caveat');
.dropdown:hover > .dropdown-menu { 
    display: block; 
} 
nav{
    height: 115px;
}
.menuMain{
   justify-content: center;
}
a.nav-item.nav-link.active, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link{
    color: red;
}
.nav-link{
    margin-left: 10px;
    margin-right: 10px;
    color: #373737;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0px;
}
.btnContacs{
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    line-height: 1.5;
    background: #04e2f6;
    border-color: #04e2f6;
    color: #ffffff;
    padding: 14px 48px 14px;
    border: 1px solid;
    transition: .5s;
}
.btnContacs:hover{
    background: #ff3a4c;
    border-color: #ff3a4c;
    color: #ffffff;
}
.mainSlider{
    font-family: 'Muli', sans-serif;
    color: #ffffff;
    font-size: 625%;
    text-shadow: none;
    line-height: 1.5;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    letter-spacing: -4px;
    word-spacing: normal;
    text-transform: none;
    font-weight: 800;
}

.descSlider {
    color: #ffffff;
    font-size: 137.5%;
    text-shadow: none;
    line-height: 1.7;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0px;
    word-spacing: normal;
    text-transform: none;
    font-weight: 700;
}
.carousel-indicators--round li {
    border-radius: 10px;
    margin: 1px 5px;
    height: 10px;
    max-width: 10px;
    background: white;
    transition: .5s;

}
.carousel-indicators--round li:hover{
    background-color: #ff3a4c;
}
.carousel-indicators .active {
    background-color: #ff3a4c;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
.btnDonate{
    font-style: normal;
    font-size: 112.5%;
    font-weight: 800;
    font-family: 'Muli', sans-serif;
    border-radius: 30px;
    line-height: 1.5;
    background: #ff3a4c;
    color: #ffffff;
    padding: 14px 48px 14px;
    transition: .8s;
    margin-bottom: 25px;
    margin-top: 15px;
}
.btnDonate:hover{
    background: #fff;
    color: black;
}
.MissionText{
    font-size:30px;
    font-style: oblique;
    font-weight: 400;
    font-family: 'Caveat', handwriting;
    letter-spacing: 0px;
    color: #32e9bc;
    text-align: center;
    margin-top: 130px;
}
.conserve{
    font-size: 40px;
    font-family: Muli, sans-serif;
    letter-spacing: 0px;
    text-align: center;
    color: #333333;
    font-style: normal;
    font-weight: 400;
    margin-top: 40px;
}
.nature {
    background-image: url('../img/homebg1-1.jpg');
    background-position: center top;
    padding-top: 50px;
    padding-bottom: 100px;
}
.natureDesc{
    position: relative;
    float: left;
    width: 260px;
    margin-right: 25px;
    margin-left: 40px;

}
.natureDesc h3{
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.25;
    font-family: Muli, sans-serif;
    margin-bottom: 15px;
    margin-top: 5px;
    transition: .5s;
    cursor: pointer;

}
.natureDesc h3:hover{
    color:#777777;
}
.floatTextLeft {
    text-align: left;
}

.floatTextRight{
    text-align: right;
}

.natureDesc p{
    color: #646464;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
}

.iconsCircle{
    position: relative;
    float: left;
    background: #04e2f6;
    border-radius: 50%;
    color: white;
    height: 83px;
    width: 83px;

}
.iconsCircle i{
    text-align: center;
    line-height: 83px;
    display: block;
    font-size: 20px;
}

.descRight{
    margin-left: 25px;
    
}
.colorIcon1{
    background: #04E2F6;
}
.colorIcon2{
    background: #9AEA3E;
}
.colorIcon3{
    background: #32E9BC;
}
.colorIcon4{
    background: #BBE31F;
}
.colorIcon5{
    background: #70EA88;
}
.colorIcon6{
    background: #F4DC59;
}

.colorText1{
    color: #04E2F6;
}
.colorText2{
    color: #9AEA3E;
}
.colorText3{
    color: #32E9BC;
}
.colorText4{
    color: #BBE31F;
}
.colorText5{
    color: #70EA88;
}
.colorText6{
    color: #F4DC59;
}

/* styles breadcrumbs (start) */
.breadcrumbs {
    background: #95ecf4;
}

.breadcrumbsLinks {
    position: relative;
    float: right;
    padding: 20px 0 20px;
}

.breadcrumbsLinks p, .breadcrumbsLinks a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #646464;
    text-decoration: none;
    line-height: 1.75;
    margin-bottom: 0px;
    transition: .5s;
}

.breadcrumbsLinks a:hover {
    color: #ff3a4c;
}

.breadcrumbsLinks span {
    color: #ff3a4c;
}
/* styles breadcrumbs (end) */

/* styles footer (start) */
.footerInfo, .footerIcons, .footerRights {
    text-align: center;
}

.footerInfo img {
    margin-bottom: 30px;
}

.footerInfo p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: #646464;
    margin-bottom: 5px;
}

.footerInfo span, .footerInfo a {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 800;
    color: #646464;
    transition: .5s;
}

.footerInfo a:hover {
    color: #ff3a4c;
    text-decoration: none;
}

a.footerEmail {
    color: #ca0012;
}

.footerIcons {
    margin-top: 40px;
    margin-bottom: 40px;
}

.footerIcons a {
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    color: #646464;
    transition: .5s;
}

.footerIcons a:hover {
    color: #ff3a4c;
}

.footerRights {
    margin-bottom: 60px;
}

.footerRights p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgb(49,49,49);
}
/* styles footer (end) */

/* page 404 (start) */
.error404Title, .error404Desc {
    text-align: center;
}

.error404Title h1 {
    font-family: Muli, sans-serif;
    font-size: 5rem;
    color: #04e2f6;
    font-weight: 900;
    margin-top: 80px; 
}

.error404Title h2 {
    font-family: Muli, sans-serif;
    font-size: 40px;
    color: #333333;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 25px;
}

.error404Desc {
    margin-top: 50px;
    margin-bottom: 80px;
}

.error404Desc h3 {
    font-family: Muli, sans-serif;
    font-size: 22px;
    color: #333333;
    font-weight: 800;
    margin-bottom: 40px;
}

.btnSearch{
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    line-height: 1.5;
    background: #04e2f6;
    border-color: #04e2f6;
    color: #ffffff;
    padding: 14px 18px 14px;
    border: 1px solid;
    transition: .5s;
}

.btnSearch:hover{
    background: #ff3a4c;
    border-color: #ff3a4c;
    color: #ffffff;
}

.inputSearch, .inputSearch:hover, .inputSearch:focus {
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    line-height: 1.5;
    color: #333333;
    padding: 14px 18px 14px;
    transition: .5s;
    border: none;
    background: #f6f6f6;
}

/* page 404 (end) */
